<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                            http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
                             <servlet>
	<servlet-name>Register</servlet-name>
  	
  	<servlet-class>com.alok.Register</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
</servlet-mapping>

<filter>
	<filter-name>regFilter</filter-name>
	<filter-class>com.alok.MyFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>regFilter</filter-name>
	<url-pattern>/Register</url-pattern>
</filter-mapping>
 </web-app>